[user]
	name = Brian Hardisty
	email = b@bah.im
	signingkey = D38A5C417347AD45
[push]
	default = simple
	followTags = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[status]
	submodulesummary = 1
	showUntrackedFiles = all
[merge]
	conflictStyle = diff3
