[submodule "mpv/.submodules/mpv-stats"]
	path = mpv/.submodules/mpv-stats
	url = https://github.com/Argon-/mpv-stats.git
[submodule "mpv/.submodules/autosub"]
	path = mpv/.submodules/autosub
	url = https://gist.github.com/ce3fb37e775dbd15c698.git
