[submodule "mpv/.submodules/mpv-stats"]
	path = mpv/.submodules/mpv-stats
	url = https://github.com/Argon-/mpv-stats.git
	branch = master
[submodule "mpv/.submodules/autosub"]
	path = mpv/.submodules/autosub
	url = https://gist.github.com/ce3fb37e775dbd15c698.git
[submodule "x11/.submodules/gruvbox-contrib"]
	path = x11/.submodules/gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
[submodule "rofi/.submodules/gruvbox-rofi"]
	path = rofi/.submodules/gruvbox-rofi
	url = https://github.com/bardisty/gruvbox-rofi
[submodule "mpv/.submodules/wm4-mpv-scripts"]
	path = mpv/.submodules/wm4-mpv-scripts
	url = https://github.com/wm4/mpv-scripts
