! vim:fdm=marker:
!
!      o    o
!      'b  d'
!       'bd'   oPYo. .oPYo. .oPYo. .oPYo. o    o oPYo. .oPYo. .oPYo. .oPYo.
!       .PY.   8  `' 8oooo8 Yb..   8    8 8    8 8  `' 8    ` 8oooo8 Yb..
!      .P  Y.  8     8.       'Yb. 8    8 8    8 8     8    . 8.       'Yb.
! .-- .P    Y. 9     `Yooo' `YooP' `YooP' 'YooP' 8     `YooP' `Yooo' `YooP' ---.
! |:::..::::..:..:::::.....::.....::.....::.....:..:::::.....::.....::.....::::|
! |::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::|
! |::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::|
! |----------------------------------------------------------------------------|
! |     file | ~/.Xresources                                                   |
! |     desc | Configuration parameters for X client applications              |
! |   author | bardisty <b@bah.im>                                             |
! |   source | https://github.com/bardisty/dotfiles                            |
! | modified | Sat Jan 13 2018 07:36:12 PST -0800                              |
! '----------------------------------------------------------------------------'


! Contents {{{1                                                       :contents:
! _____________


!   1 URxvt .............................................. :urxvt:
!      1.1 Colors ........................................... :urxvt:colors:
!      1.2 Cursor ........................................... :urxvt:cursor:
!      1.3 Extensions ....................................... :urxvt:extensions:
!      1.4 Text ............................................. :urxvt:text:
!   2 Xcursor ............................................ :xcursor:
!   3 Xft ................................................ :xft:








! 1 URxvt {{{1                                                           :urxvt:
! ============


!   rvxt-unicode - a VT102 emulator for the X window system


!   Internal border of N pixels
    URxvt*internalBorder: 8

!   Number of lines to save in the scrollback buffer (default: 64)
    URxvt*saveLines: 500000

!   Disable the scrollbar
    URxvt*scrollBar: false



!   1.1 Colors {{{2                                               :urxvt:colors:
!   ~~~~~~~~~~~~~~~

!       Gruvbox color scheme
!       https://github.com/morhetz/gruvbox
        #include "/home/bah/.Xresources.d/urxvt/colors/gruvbox-dark.xresources"
        #include "/home/bah/.Xresources.d/urxvt/colors/gruvbox-urxvt256.xresources"

!       Color scheme overrides
        *foreground: #bdae93

!       Transparent background
        URxvt*background: [97]#282828
        URxvt*depth: 32



!   1.2 Cursor {{{2                                               :urxvt:cursor:
!   ~~~~~~~~~~~~~~~

!       Blink the cursor
        URxvt*cursorBlink: true

!       Make the cursor a box
        URxvt*cursorUnderline: false



!   1.3 Extensions {{{2                                       :urxvt:extensions:
!   ~~~~~~~~~~~~~~~~~~~

!       Clickable URLs
        URxvt*perl-ext-common: default,matcher
        URxvt*url-launcher: /usr/bin/inox
        URxvt*matcher.button: 1



!   1.4 Text {{{2                                                   :urxvt:text:
!   ~~~~~~~~~~~~~

!       GohuFont
!       http://font.gohu.org/
!       URxvt*font: -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
!       URxvt*boldFont: -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1
!       URxvt*italicFont: -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1

!       Iosevka
!       https://be5invis.github.io/Iosevka/
!       `make custom-config design='cv01 cv03 cv08 cv13 cv17 cv19 cv21 cv31 \
!        cv37 term' upright='cv11' italic='cv12' oblique='cv12' && make custom`
        URxvt*font: xft:Iosevka Term:style=Regular:pixelsize=16
        URxvt*boldFont: xft:Iosevka Term:style=Bold:pixelsize=16
        URxvt*italicFont: xft:Iosevka Term:style=Italic:pixelsize=16








! 2 Xcursor {{{1                                                       :xcursor:
! ==============


!   Xcursor - Cursor management library


!   Set cursor image size to 16x16 pixels
    Xcursor.size: 16








! 3 Xft {{{1                                                               :xft:
! ==========


!   Xft - X FreeType interface library


!   Defaults:
!     Xft.dpi: 96
!     Xft.antialias: true
!     Xft.hinting: true
!     Xft.rgba: rgb
!     Xft.autohint: false
!     Xft.hintstyle: hintslight
!     Xft.lcdfilter: lcddefault

!   Find `Xft.dpi` value with:
!     *  https://www.sven.de/dpi/
!     *  `xdpyinfo | grep -B2 resolution`
!         3440x1440 pixels (802x342 millimeters)
!         109x107 dots per inch
    Xft.dpi: 107
    Xft.antialias: true
    Xft.hinting: true
    Xft.rgba: rgb
    Xft.autohint: false
    Xft.hintstyle: hintslight
    Xft.lcdfilter: lcddefault

